
.wrapper
  .map
  .line
    %svg{height: "830", width: "1591", viewBox: "0 0 1591 830"}
      %path{d: "m370.92,632.3,339.85-137.45,139.33-80.962,20.711,5.6485c37.93-69.02,86.29-135.73,166.59-207.11l25.418-44.247"}